In [20]:
import scipy as sp
import numpy as np
import pandas as pd

s = sp.randn(100)
s.mean()

np.array([1,2,3],int)

df = pd.read_csv("C:/Users/vasinpramu/Desktop/datasets/houseprices.csv")

In [21]:
df

   sqfeet  HousePrice
0    1400         245
1    1600         312
2    1700         279
3    1875         308
4    1100         199
5    1550         219
6    2350         405
7    2450         324
8    1425         319
9    1700         255

In [19]:
df.describe()

            sqfeet  HousePrice
count    10.000000   10.000000
mean   1715.000000  286.500000
std     417.864944   60.185362
min    1100.000000  199.000000
25%    1456.250000  247.500000
50%    1650.000000  293.500000
75%    1831.250000  317.250000
max    2450.000000  405.000000

In [17]:
len(df)

10

In [22]:
df.head()

   sqfeet  HousePrice
0    1400         245
1    1600         312
2    1700         279
3    1875         308
4    1100         199

In [25]:
df.columns

Index(['sqfeet', 'HousePrice'], dtype='object')

In [28]:
#renaming columns

df.columns = ["SqFeet","HPrice"]

In [30]:
df.head()

   SqFeet  HPrice
0    1400     245
1    1600     312
2    1700     279
3    1875     308
4    1100     199

In [34]:
df.HPrice.head(2)

0    245
1    312
Name: HPrice, dtype: int64

In [37]:
df.std()

SqFeet    417.864944
HPrice     60.185362
dtype: float64

In [ ]:
#Plotting with matplotlib